body {
  background-color: #0d1117;
  color: darkgray;
  margin: 1rem;
}
h1 {
  margin: 0;
  text-align: center;
}
.btn {
  background: black;
  border-radius: 5px;
  border: 1px solid darkgray;
  color: darkgray;
  cursor: pointer;
  font-size: 1.25rem;
  margin-top: 5px;
  padding: 2px;
  text-align: center;
  text-decoration: none;
}
