.mlv2Container {
  box-sizing: content-box !important;
  display: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 12px !important;
  left: 0px !important;
  position: absolute !important;
  top: 0px !important;
  z-index: 2147483647 !important;
}
.mlv2Overview {
  background: black !important;
  border-radius: 1% !important;
  border: 1px solid #484848 !important;
  box-sizing: content-box !important;
  color: darkgray !important;
  height: 15px !important;
  line-height: 15px !important;
  padding: 3px !important;
  position: fixed !important;
  &:focus {
    outline: transparent !important;
  }
}
.mlv2Blob {
  background-color: yellow !important;
  border-radius: 10px !important;
  border: 1px solid black !important;
  color: black !important;
  line-height: 13px !important;
  padding: 0 3px !important;
  position: absolute !important;
}
